@import './../../styles/variables.scss';

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: row-reverse;
  transform: translateX(100%);
  transition: transform ease 0.3s;

  &.active {
    transform: translateX(0);
  }

  .cart__overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
    transform: scale(0);
    transition: all ease 0.3s;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: scale(80);
    }
  }

  .cart {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: $white;

    @include breakpoint(smd) {
      width: 48%;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      font-weight: 800;
      color: $dark;
      text-transform: uppercase;
      padding: 16px;
      border-bottom: 1px solid $borderColor;

      @include breakpoint(md) {
        padding: 16px $spacing-lg;
      }

      svg {
        font-size: 3rem;
        color: $primary;
        border: 2px solid $primary;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    &__empty {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__box {
        height: 320px;
        width: 320px;
        margin: auto;

        &__img {
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-size: 2rem;
        font-weight: 600;
        color: $dark;
      }

      &__btn {
        display: flex;
        margin-top: $spacing-sm;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        background-color: $primary;
        padding: $spacing-sm 48px;
        border-radius: 6px;
        transition: all ease 0.3s;

        &:hover {
          filter: brightness(92%);
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &__footer {
        position: relative;
        top: -64px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid $borderColor;
        padding: $spacing-md 16px;

        &__total {
          display: flex;
          justify-content: space-between;

          span {
            font-size: 1.8rem;
            font-weight: 700;
            color: $text;

            &:not(:first-child) {
              font-size: 1.8rem;
              color: $primary;
            }
          }
        }

        &__btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: $spacing-sm;
          padding: 0 8px;

          @include breakpoint(md) {
            justify-content: center;
          }
        }
      }
    }
  }
}