@import './../../styles/variables.scss';

.swiper-pagination {
    &-horizontal {
        bottom: 56px !important;
    }

    &-bullet {
        position: relative;
        width: 20px !important;
        height: 20px !important;
        margin: 0 10px !important;

        &-active {
            background-color: $primary2 !important;
        }

        &::before {
            content: '';
            position: absolute;
            width: 19px;
            height: 19px;
            border: 3px solid $primary2;
            border-radius: 50%;
            top: 47%;
            left: 46%;
            transform: translate(-50%, -50%)
        }
    }
}