@import './../../styles/variables.scss';

.container {
    margin-top: 60px;
    display: flex;

    .homeProducts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        margin: auto;

        &__heading {
            text-align: center;
            margin-bottom: $spacing-lg;

            span {
                @include title;
            }

            h3 {
                @include subtitle;

                strong {
                    color: $primary;
                }
            }
        }

        &__cards {
            width: 100%;
            border-radius: 8px;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 65%;
            column-gap: 10px;
            padding: 0 10px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            scroll-snap-align: start;


            // @include breakpoint(sm) {}

            @include breakpoint(md) {
                grid-template-columns: repeat(4, 1fr);
            }

            &__item {
                width: 100%;
                background-color: #ff514e40;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                &__heading {
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 100%;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        background-color: $primary;
                        clip-path: ellipse(70% 80% at 50% 13%);
                        border-radius: 8px;
                    }

                    img {
                        margin-top: 10px;
                        width: 150px;
                    }

                    &__deal {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 36px;
                        border-radius: 999px;
                        font-size: 1.3rem !important;
                        font-weight: 900;
                        background-color: $white;
                        color: $primary;
                        margin-top: 16px;
                    }
                }

                &__body {
                    text-align: center;
                    padding: 10px 4px 20px 4px;

                    &__name {
                        font-size: 1.8rem;
                        font-weight: 900;
                        color: $text;
                        margin: 10px 0;
                    }

                    &__descr {
                        font-size: 1.4rem;
                        color: #737373;
                        margin-bottom: $spacing-sm;
                    }

                    &__price {
                        font-size: 1.8rem;
                        font-weight: 900;
                        color: $primary;
                    }
                }

            }
        }
    }
}