@import './../../styles/variables.scss';

.container {
    display: flex;
    margin-bottom: 78px;

    .shop {
        margin: auto;
        display: flex;
        width: 100%;
        max-width: 1200px;
        padding: 0 10px;

        &__filter {
            display: none;
            width: 16.666667%;
            flex-direction: column;
            align-items: flex-start;

            @include breakpoint(smd) {
                display: flex;
            }

            &__popular {
                width: 100%;

                &__title {
                    @include filterTitle;
                }

                &__list {
                    width: 100%;

                    &__item {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 8px $spacing-sm;
                        font-size: 1.6rem;
                        color: $text;
                        margin: 4px 0;
                        border-radius: 6px;

                        &:first-child {
                            margin-top: 13px;
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.08);
                        }

                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: $spacing-sm;
                        }
                    }
                }
            }

            &__price {
                width: 100%;

                &__title {
                    @include filterTitle;
                    margin-bottom: 10px;
                }

                &__form {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    &:first-child {
                        margin-top: 15px;
                    }

                    &__checkbox {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px $spacing-sm;

                        &__checkmark {
                            display: none;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 2px solid rgba($color: #000000, $alpha: 0.4);
                            position: relative;

                            &::after {
                                content: "";
                                display: none;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: $primary;
                            }
                        }


                        span {
                            font-size: 1.6rem;
                            color: $text;
                            margin-left: $spacing-sm;
                        }
                    }

                }

            }

            &__rate {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &__title {
                    @include filterTitle;
                    margin-bottom: 8px;
                }

                &__stars {
                    padding: 6px $spacing-sm;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }

                    svg {
                        font-size: 2rem;
                        color: $primary2;

                        &:not(:last-child) {
                            margin-right: 4px;
                        }
                    }

                }
            }

        }

        &__content {
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 10px;

            @include breakpoint(smd) {
                width: 83.333333%;
            }

            &__handle {
                display: flex;
                align-items: flex-start;
                width: 100%;

                &__search {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 66.66667%;
                    height: 42px;
                    padding: 0 8px 0 $spacing-sm;
                    border-radius: 777px;
                    border: 1px solid $borderColor;
                    margin-right: $spacing-sm;

                    &__input {
                        border: none;
                        outline: none;
                        width: 100%;
                    }

                    &__btn {
                        border: none;
                        outline: none;
                        background-color: transparent;

                        svg {
                            font-size: 2rem;
                            color: $text;
                        }
                    }
                }

                &__drop {
                    width: 33.333333%;
                    max-width: 232px;
                    margin-left: 8px;
                    position: relative;

                    &__current {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 42px;
                        padding: 8px 6px 8px 8px;
                        font-size: 1.4rem;
                        border-radius: 8px;
                        border: 1px solid $borderColor;
                        cursor: pointer;

                        svg {
                            font-size: 1.5rem;
                        }
                    }

                    &__list {
                        width: 100%;
                        display: block;
                        background-color: $white;
                        border-radius: 8px;
                        border: 1px solid $borderColor;
                        position: absolute;
                        top: 64px;
                        left: 0;
                        z-index: 100;
                        overflow: hidden;
                        visibility: hidden;
                        opacity: 0;
                        transition: all ease 0.3s;

                        &.show {
                            visibility: visible;
                            opacity: 1;
                            top: 54px;
                        }

                        &__item {
                            display: block;
                            width: 100%;
                            font-size: 1.4rem;
                            line-height: 1.8;
                            padding: 8px $spacing-sm;

                            &:not(:last-child) {
                                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.04);
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.08);
                            }
                        }

                    }
                }
            }

            &__products {
                margin-top: $spacing-md;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                display: grid;
                gap: 20px;

                @include breakpoint (md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include breakpoint(smd) {
                    grid-template-columns: repeat(4, 1fr);
                }

                &__item {
                    text-decoration: none;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    &__img {
                        width: 100%;
                        padding-top: 100%;
                        background-position: top center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: relative;

                        &__favourite {
                            display: flex;
                            align-items: center;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            padding: 2px 8px;
                            font-size: 1.3rem;
                            line-height: 1.2;
                            font-weight: 700;
                            background-color: $primary;
                            color: $white;
                            position: absolute;
                            top: $spacing-sm;
                            left: -4px;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 0;
                                border-top: 4px solid $primary;
                                border-left: 4px solid transparent;
                                filter: brightness(90%);
                            }
                        }

                        @include breakpoint(smd) {

                            &:hover .shop__content__products__item__img__btns {
                                right: 6px;
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        &__btns {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute;
                            top: $spacing-sm;
                            right: 6px;
                            transition: all ease 0.3s;

                            @include breakpoint(smd) {
                                right: 0px;
                                visibility: hidden;
                                opacity: 0;
                            }

                            button {
                                border: none;
                                outline: none;
                                position: relative;
                                width: 40px;
                                height: 40px;
                                font-size: 2rem;
                                border-radius: 50%;
                                color: $white;
                                background-color: rgba($color: #000000, $alpha: 0.65);
                                transition: all ease 0.3s;

                                &:first-child {
                                    margin-bottom: 8px;
                                }

                                svg {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }

                                &:hover {
                                    color: $primary;
                                    cursor: pointer;
                                }
                            }
                        }

                        &__rate {
                            font-size: 3rem;
                            font-weight: 900;
                            color: $white;
                            background-color: transparent;
                            display: block;
                            position: absolute;
                            bottom: $spacing-sm;
                            left: $spacing-sm;
                            text-shadow: 1px 1px 6px $black;

                            svg {
                                font-size: 2rem;
                                margin-right: 4px;
                            }
                        }

                    }

                    &__name {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: $text;
                        margin: $spacing-sm 0;
                        transition: all ease 0.3s;
                        width: 100%;
                        text-align: left;

                        &:hover {
                            color: $primary;
                        }
                    }

                    &__descr {
                        font-size: 1.4rem;
                        color: $text;
                        margin-bottom: $spacing-sm;
                    }

                    &__footer {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1.4rem;

                        &__location {
                            display: flex;
                            align-items: center;
                            font-size: 1.4rem;
                            color: $text;

                            svg {
                                margin-right: 4px;
                                font-size: 2rem;
                                color: $primary;
                            }
                        }

                        &__price {
                            font-size: 1.8rem;
                            font-weight: 900;
                            color: $primary;
                        }
                    }
                }

            }

            &__pagination {
                display: none;
                justify-content: center;
                align-items: center;
                margin-top: 78px;

                @include breakpoint(md) {
                    display: flex;
                }

                &__item {
                    display: inline-block;
                    margin: 0 6px;
                    border-radius: 4px;
                    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.15);
                    background-color: $white;
                    transition: all ease 0.2s;
                    cursor: pointer;

                    &.selected {
                        background-color: $primary;

                        .shop__content__pagination__item__link {
                            color: $white;
                        }
                    }

                    &__link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: $text;
                        font-size: 1.6rem;
                        padding: $spacing-sm 18px;
                    }
                }

                &:first-child,
                &:last-child {

                    svg {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}