@import './../../../styles/variables.scss';

.container {
    display: none;
    width: 16.666667%;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(smd) {
        display: flex;
    }

    .filter {
        width: 100%;

        &__popular {
            width: 100%;

            &__title {
                @include filterTitle;
            }

            &__list {
                width: 100%;

                &__item {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 8px $spacing-sm;
                    font-size: 1.6rem;
                    color: $text;
                    margin: 4px 0;
                    border-radius: 6px;

                    &:first-child {
                        margin-top: 13px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.08);
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: $spacing-sm;
                    }
                }
            }
        }

        &__price {
            width: 100%;

            &__title {
                @include filterTitle;
                margin-bottom: 10px;
            }

            &__form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &:first-child {
                    margin-top: 15px;
                }

                &__checkbox {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 10px $spacing-sm;

                    &__checkmark {
                        display: none;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 2px solid rgba($color: #000000, $alpha: 0.4);
                        position: relative;

                        &::after {
                            content: "";
                            display: none;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: $primary;
                        }
                    }


                    span {
                        font-size: 1.6rem;
                        color: $text;
                        margin-left: $spacing-sm;
                    }
                }

            }

        }

        &__rate {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &__title {
                @include filterTitle;
                margin-bottom: 8px;
            }

            &__stars {
                padding: 6px $spacing-sm;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

                svg {
                    font-size: 2rem;
                    color: $primary2;

                    &:not(:last-child) {
                        margin-right: 4px;
                    }
                }

            }
        }

    }
}