@import './../../../../styles/variables.scss';

.container {

    .handle {
        display: flex;
        align-items: flex-start;
        width: 100%;

        &__search {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 66.66667%;
            height: 42px;
            padding: 0 8px 0 $spacing-sm;
            border-radius: 777px;
            border: 1px solid $borderColor;
            margin-right: $spacing-sm;

            &__input {
                border: none;
                outline: none;
                width: 100%;
            }

            &__btn {
                border: none;
                outline: none;
                background-color: transparent;

                svg {
                    font-size: 2rem;
                    color: $text;
                }
            }
        }

        &__drop {
            width: 33.333333%;
            max-width: 232px;
            margin-left: 8px;
            position: relative;

            &__current {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 42px;
                padding: 8px 6px 8px 8px;
                font-size: 1.4rem;
                border-radius: 8px;
                border: 1px solid $borderColor;
                cursor: pointer;

                svg {
                    font-size: 1.5rem;
                }
            }

            &__list {
                width: 100%;
                display: block;
                background-color: $white;
                border-radius: 8px;
                border: 1px solid $borderColor;
                position: absolute;
                top: 64px;
                left: 0;
                z-index: 100;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: all ease 0.3s;

                &.show {
                    visibility: visible;
                    opacity: 1;
                    top: 54px;
                }

                &__item {
                    display: block;
                    width: 100%;
                    font-size: 1.4rem;
                    line-height: 1.8;
                    padding: 8px $spacing-sm;

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.04);
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.08);
                    }
                }

            }
        }
    }
}