@import './../../../../styles/variables.scss';

.container {

    .tab {
        margin: 60px 0;
        width: 100%;

        &__btns {
            display: flex;
            justify-content: center;
            position: relative;

            &__btn {
                padding: 14px 16px;
                font-size: 1.8rem;
                font-weight: 700;
                cursor: pointer;
                transition: all ease 0.3s;

                &.active {
                    color: $white;
                }
            }

            &__bg {
                position: absolute;
                top: 0;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
                background-color: $primary;
                transition: all ease-in-out 0.3s;
            }
        }

        &__background {

            &.hide {
                display: none;
            }

            &__content {
                font-size: 1.5rem;
                color: $text;
                margin: $spacing-md 0;
                text-align: center;
                line-height: 1.5;
            }

            &__table {
                display: flex;
                width: 100%;
                position: relative;

                @include breakpoint(md) {
                    flex-direction: column;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    height: 100%;
                    width: 0.5px;
                    background-color: rgba(0, 0, 0, 0.15);

                    @include breakpoint(md) {
                        left: 15%;
                    }
                }

                &__info {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(md) {
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        width: 100%;
                        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
                    }

                    &__descr {
                        display: flex;
                        height: 120px;

                        &:not(:last-child) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                            @include breakpoint(md) {
                                border-bottom: unset;
                            }
                        }

                        &__title {
                            margin: auto;
                            display: flex;
                            flex-direction: column;
                            font-size: 1.5rem;
                            color: $text;
                            text-align: center;

                            strong {
                                margin-bottom: 8px;
                                font-size: 1.8rem;
                                font-weight: 900;
                            }
                        }

                    }
                }

                &__ingre {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(md) {
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        width: 100%;
                    }

                    &__descr {
                        display: flex;
                        height: 120px;

                        &:not(:last-child) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                            @include breakpoint(md) {
                                border-bottom: unset;
                            }
                        }

                        &__title {
                            margin: auto;
                            display: flex;
                            flex-direction: column;
                            font-size: 1.5rem;
                            color: $text;
                            text-align: center;

                            strong {
                                margin-bottom: 8px;
                                font-size: 1.8rem;
                                font-weight: 900;
                            }
                        }

                    }
                }
            }
        }

        &__altBackground {

            &.hide {
                display: none;
            }

            &__form {
                display: flex;
                margin-top: $spacing-xl;

                &__user {
                    font-size: 4.8rem;
                    color: #ccc;
                }

                &__descr {
                    margin-left: $spacing-sm;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(md) {
                        margin-left: $spacing-md;
                    }

                    &__rate {
                        text-align: start;
                        font-size: 1.6rem;
                        color: $primary2;
                        margin-bottom: $spacing-sm;

                        svg {
                            transition: all ease 0.3s;

                            &:not(:last-child) {
                                margin-right: 4px;
                            }

                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }
                        }
                    }

                    &__textarea {
                        width: 100%;
                        height: 150px;
                        outline: none;
                        border: 1px solid rgba($color: #000000, $alpha: 0.08);
                        border-radius: 4px;
                        font-family: 'Lato';
                        padding: 16px;
                        resize: none;
                        background-color: rgba($color: #000000, $alpha: 0.03);
                        font-size: 1.5rem;

                        @include breakpoint(md) {
                            width: 70%;
                        }
                    }

                    &__btn {
                        border: none;
                        outline: none;
                        border-radius: 4px;
                        color: #fff;
                        background-color: #ff514e;
                        transition: all ease 0.3s;
                        margin-top: 24px;
                        width: 130px;
                        padding: 10px 12px;
                        font-size: 1.5rem;

                        &:hover {
                            cursor: pointer;
                            filter: brightness(96%);
                        }
                    }
                }
            }

        }
    }
}