@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px 0;

    .title {
        font-size: 8.6rem;
        font-weight: 900;
        color: $text;

        @include breakpoint(md) {
            font-size: 10.6rem;
        }

        @include breakpoint(smd) {
            font-size: 12.6rem;
        }
    }

    .desc {
        font-size: 2.2rem;
        font-weight: 700;
        color: $text;
        text-transform: uppercase;
        margin: $spacing-sm 0 40px;

        @include breakpoint(md) {
            font-size: 2.6rem;
        }

        @include breakpoint(smd) {
            font-size: 2.8rem;
        }
    }

    .notfound {
        width: 260px;

        @include breakpoint(md) {
            width: 400px;
        }

        @include breakpoint(smd) {
            width: 500px;
        }

        &__img {
            width: 100%;
        }
    }

    .link {
        display: flex;
        align-items: center;
        margin-top: 40px;
        color: $primary;
        font-size: 1.6rem;
        font-weight: 700;
        padding: $spacing-sm;
        text-decoration: none;

        svg {
            position: relative;
            bottom: -1px;
            margin-right: 2px;
        }
    }
}