@import "../../../styles/variables.scss";

.form {
    margin-bottom: 16px;

    label {
        font-size: 1.3rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-top: 8px;
        background-color: #f5f5f5;
    }

    input {
        border: none;
        outline: none;
        flex: 1;
        padding: $spacing-sm;
        background-color: transparent;
    }

    &__error {
        display: inline-block;
        font-size: 1.3rem;
        margin-top: 6px;
        color: red;
    }
}