@import '../../../styles/variables.scss';

.form {

    &__remember {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-md;

        &__label {
            font-size: 1.3rem;
            color: rgba(0, 0, 0, 0.4);
        }
    }

    &__btn {
        width: 300px;
        margin: 0 auto;
    }
}