@import './../../styles/variables.scss';

.logo {
    display: flex;
    text-decoration: none;
    color: transparent;
    align-items: center;
    justify-content: center;

    &__img {
        height: 48px;
        position: relative;
        top: -6px;

        &.lgSize {
            height: 56px;
        }
    }
}