@import './../../../../styles/variables.scss';

.container {
    width: 100%;

    @include breakpoint(md) {
        padding-left: $spacing-lg;
        width: 50%;
    }

    .product {
        width: 100%;

        &__info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: $spacing-lg;

            @include breakpoint(md) {
                margin-top: unset;
            }

            &__name {
                font-size: 2.6rem;
                font-weight: 900;
                min-height: 3rem;
                color: $text;
                margin-bottom: $spacing-md;

                @include breakpoint(xl) {
                    font-size: 3rem;
                }
            }

            &__rate {
                font-size: 2rem;
                margin-bottom: 20px;
                color: $primary2;

                svg {

                    &:not(:last-child) {
                        margin-right: 4px;
                    }
                }
            }

            &__price {
                font-size: 2.3rem;
                font-weight: 900;
                color: $primary;
                margin-bottom: 20px;
            }

            &__ca {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                &__item {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 1.5rem;

                    &:first-child {
                        margin-right: $spacing-sm;
                    }

                    strong {
                        color: $text;
                        margin-left: 4px;
                        text-transform: capitalize;
                    }
                }
            }

            &__descr {
                font-size: 1.5rem;
                color: $text;
                margin-bottom: $spacing-md;
            }

            &__form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &__title {
                    font-size: 1.8rem;
                    font-weight: 900;
                    color: $text;
                    margin-bottom: 4px;
                }

                &__checkbox {
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    color: $text;
                    padding: 10px 30px 10px 0;
                    margin: 4px 0;
                }
            }
        }

        .button {
            margin-top: $spacing-sm;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: $spacing-md 0;
            border-top: 1px solid $borderColor;
            border-bottom: 1px solid $borderColor;

            @include breakpoint(md) {
                flex-direction: row;
                align-items: center;
            }

            &__handle {
                display: flex;
                align-items: center;
                margin-bottom: $spacing-md;

                @include breakpoint(md) {
                    margin-bottom: unset;
                }

                @include breakpoint(xl) {
                    margin-right: $spacing-lg;
                }

                button {
                    width: 35px;
                    height: 35px;
                    border: none;
                    border-radius: 50%;
                    outline: none;
                    padding: 6px 8px;
                    background-color: rgba($color: #000000, $alpha: 0.05);
                    color: $text;
                    transition: all ease 0.3s;
                    margin: 0 8px;
                    position: relative;


                    &:hover {
                        cursor: pointer;
                        color: $primary;
                    }

                    svg {
                        font-size: 1.5rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &__qnt {
                    font-size: 1.5rem;
                    color: $text;
                }
            }

            &__add {
                display: flex;
                align-items: center;

                &__cart {
                    flex: 1;
                    margin-right: 8px;
                }

                &__like {
                    width: 38px;
                    height: 38px;
                    padding: 6px 8px;
                    border: none;
                    border-radius: 50%;
                    outline: none;
                    background-color: rgba($color: #000000, $alpha: 0.05);
                    color: $text;
                    transition: all ease 0.3s;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                        color: $primary;
                    }

                    svg {
                        font-size: 1.5rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .commits {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: $spacing-sm;

            &__commit {
                display: flex;
                align-items: center;
                height: 30px;
                font-size: 1.5rem;
                color: $text;
                border-left: 3.8px solid $primary;
                margin-bottom: 16px;
                padding-left: 8px;

                svg {
                    font-size: 2.2rem;
                    color: $primary;
                    margin-right: 6px;
                }
            }
        }
    }
}