@import './../../../../styles/variables.scss';

.container {
    width: 100%;
    min-height: 400px;

    @include breakpoint(md) {
        width: 50%;
    }

    .main {
        width: 100%;

        &__img {
            width: 100%;
        }
    }
}